
<h1> Bienvenu sur un site d'achat de cookie en ligne </h1>

<p>
    Bonjour monsieur, 
    je vous fait ici un Bref recapitulatif de mon projet. </p>
<p>
        Pour se connecter vous ne pouvez utiliser que les identifiants suivant : amelie -> 1234 et admin-> admin
    
</p>

<p> 
    Avec amelie vous pouvez test la fonction utilisateur 
</p>

<p>
    Avec admin la fonction administateur
</p>

<p> 
    la partie administateur ne fonctionne pas bien 
</p>

<p>
    le fond de mon probleme dans ce projet est que je ne suis pas arrivée a ecrire dans les json de facon dynamique
</p>