
<h1> Bienvenu sur un site d'achat de cookie en ligne </h1>

<p>
    Bonjour monsieur, <br/> <br/>
    je vous fait ici un Bref recapitulatif de mon projet. <br/> <br/>
    Pour se connecter vous ne pouvez utiliser que les identifiants suivant : amelie -> 1234 et admin-> admin <br/> <br/>
    

 
    Avec amelie vous pouvez test la fonction utilisateur  <br/> <br/>


    Avec admin la fonction administateur <br/> <br/>

 
    la partie administateur ne fonctionne pas bien  <br/> <br/>


    le fond de mon probleme dans ce projet est que je ne suis pas arrivée a ecrire dans les json de facon dynamique <br/> <br/>
</p>