<nav>
	<ul>
    <li>
    </li>
	<li>
		<a routerLink='/'> Accueil </a>
	</li>
	<li>
		<a routerLink='/shop'>Boutique </a>
	</li>
	<li *ngIf="statusServ.admin">
		<a routerLink='/admin'>Admin </a>
	</li>
	<li *ngIf="statusServ.connexion" style="float:right">
		
		<a class="active" routerLink='/Accueil' (click)="statusServ.deconnexion()">deconnexion</a>
	  </li>
    <li *ngIf="!statusServ.connexion" style="float:right">
      <a class="active" routerLink='/connexion'>connexion</a>
    </li>
	<li *ngIf="statusServ.connexion" style="float:right">
		
		<a class="active" routerLink='/panier'><img [src]="logo_panier"></a>
	  </li>
	</ul>
</nav>



