<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="inactive underlineHover"> <a routerLink='/connexion'> Connexion </a></h2>
      <h2 class="active">Inscription</h2>

      <!-- Login Form -->
      <form>
        <input [(ngModel)]="user.id" name="id" #test="ngModel" required  class="fadeIn second" placeholder="login">
        <input [(ngModel)]="user.mdp" name="mdp" placeholder="Saisir mdp" type="password" class="fadeIn third" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="createUserServ.createUser(user)">
      </form>
  
    </div>
</div>